@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');
body{
    max-width: 85%;
    margin: auto;
}
*{
    list-style: none;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    color: black;
}
/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(115, 41, 199);
    margin: 2px;
}
.navbar div.logo{
    height: 60px;
    width: auto;
    margin: 2px;
}
.navbar div.logo img{
    margin: 2px;
    height: 56px;
    width: auto;
}
.navbar p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-family: 'Baloo Paaji 2', cursive;    
    font-size: 25px;
}
/* navigation */
section.dashpage{
   display: flex;
   flex-direction: row;
}
.navigation{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 22%;
    background-color: rgb(115, 41, 199);
    color: black;
    margin: 2px;
    /* align-items: center; */
}
.navigation h3.dashboard{
    margin: 5px;
    padding: 10px;
    align-self: center;
    font-family: 'Baloo Paaji 2', cursive;
}
.navigation div.menu{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    overflow-y: auto;
    justify-content: center;
    align-items: flex-start;
}

.navigation div.menu a{
    padding: 5px;
    width: 90%;
    display: flex;
    font-family: Balsamiq sans;
    font-size: 20px;
    justify-content: space-between;
    border-radius: 10px;
}
.navigation div.menu a:hover{
    background-color: blanchedalmond;
}


/* Post.pug */
.post{
    margin: 2px;
    width: 78%;
}
.postheader{
    background-color: blanchedalmond;
    /* background-color: blanchedalmond; */
    display: flex;
    height: 40px;
    margin: 2px;
    padding: 0 5px;
    justify-content: space-between;
    align-items: center;
}
.postheader a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}
.postheader a:hover{
    background-color: rgb(115, 41, 199);
}
.postcontainer{
   background-color: blanchedalmond;
   margin: 2px; 
   padding: 0 5px;
}
.postmenu{
    display: flex;
    flex-direction: column;
}
.postmenu a{
    display: flex;
}





/* Addpost */
.addpost{
    display: flex;
    flex-direction: column;
}
.addpost form input{
    display: flex;
    height: 30px;
    width: 250px;
}
.addpost form button{
    display: flex;
    height: 30px;
    width: 250px;
}




















.foot div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(115, 41, 199);
    font-size: 18px;
    font-family: 'Balsamiq Sans', cursive;
    height: 9vh;
}
